* {
    background: salmon;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: xx-large;
}

button {
    padding: 2px 4px;
}

button:hover {
    cursor: pointer;
}

input:hover[type="submit"] {
    cursor: pointer;
}


header {
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: underline;
}

header a:hover {
    cursor: pointer;
    color: white;
}

#timer-div {
    display: none;
}

#score-div {
    display: none;
}


main {
    text-align: center;
    margin-top: 5%;
}

#quiz {
    display: none;
}

#quiz button {
    margin: 5px
}

#toast {
    display: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    /* position: absolute;
    top: 450px;
    text-align: center;/*BRRRUUUHHH
    border: black solid 3px; */
}

#toast.show-good {
    display: inline;
    background: green;
}

#toast.show-bad {
    display: inline;
    background: darkred;
}

#initials {
    display: none;
}

#high-scores {
    display: none;
}

#list-container {
    display: flex;
}

#high-scores ol {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}