* {
    background: salmon;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

input:hover[type="submit"] {
    cursor: pointer;
}


header {
    display: flex;
    justify-content: space-between;
}

header a:hover {
    cursor: pointer;
    color: white;
}

#timer-div {
    display: none;
}

#score-div {
    display: none;
}


main {
    text-align: center;
    margin-top: 5%;
}

#quiz {
    display: none;
}

#initials {
    display: none;
}

#high-scores {
    display: none;
}